* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  min-width: 100dvw;
  min-height: 100dvh;
}

#app {
  width: 100%;
  height: 100%;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
